/* src/styles/Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 300px;
  }
  
  .input-group label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #1e3a5f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #154269;
  }
  